<div id="pdf-wrapper" class="ghw-specs">
  <%= render :partial => 'invoice_upper_major' %>
  <div class="middle">
    <table border="1" rules="cols">
      <thead class="form-font">
        <th width="7%">Quantity Ordered</th>
        <th width="7%">Quantity Shipped</th>
        <th width="*">SKU</th>
        <th>Description</th>
        <th width="*">UM</th>
        <th width="8%">Unit Price</th>
        <th width="4%">Discount</th>
        <th width="8%">Unit Net</th>
        <th width="10%">Extension</th>
      </thead>
      <tbody>
        <% @bodyRows.each do |@bodyRow| -%>
          <%= render :partial => "invoice_body_#{@bodyRow.line_mode.strip}" %>
        <% end -%>
      </tbody>
    </table>
  </div>
  <%= render :partial => 'invoice_lower_major' %>
  <div class="page-done">&nbsp;</div>
</div>