<tr>
  <td>&nbsp;</td>
  <td class="deposit" colspan="4">
    <div class="deposit-block">
      <span>Deposit </span>
      <span><%= @bodyRow.deposit_received.strftime(DateShort) -%>: </span>
      <span><%= @bodyRow.deposit_source -%> for </span>
      <span><%= money(@bodyRow.deposit_amount, true) -%></span>
    </div>
  </td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
