<tr>
  <td class="delivery" colspan="9">
    <div class="delivery-block">
      <span>DELIVERY NOTE&nbsp;&diams;</span>
      <span>Phone:&nbsp;<%= delivery_phone -%>&nbsp;&diams;</span>
      <span>Contact:&nbsp;<%= @bodyRow.delivery_contact rescue nil || '' -%>&nbsp;&diams;</span>
      <span><%= delivery_special -%></span>
    </div>
  </td>
</tr>
