<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td class="delivery">
    <div class="delivery-block">
      <div>DELIVERY&nbsp;NOTE</div>
      <div>Phone:&nbsp;<%= delivery_phone -%></div>
      <div>Contact:&nbsp;<%= @bodyRow.delivery_contact rescue nil || '' -%></div>
      <div><%= delivery_special -%></div>
    </div>
  </td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
