/* ----------------- general stuff */
body {
  position: relative;
  top: 5mm;
  font-weight: normal;
}
td {
  padding-left: 5px;
}
.form-font {
  font-family: Architecture, sans-serif;
  font-size: 10pt;
}
.data-font {
  font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
  font-size: 10pt;
  font-weight: 600;
}
/* ----------------- header and logo display */
#company-address {
  float: left;
  width: 90mm; height: 27mm;
  /*  border: 1px solid black; */
  padding-top: 20px;
  font-size: 1.2em;
}
#company-logo {
  float: right;
  width: 98mm; height: 20mm;
/*  border: 1px solid black; */
}
#company-website {
  clear: right;
  float: right;
  width: 98mm; height: 7mm;
  padding-top: 0.5em;
  padding-right: 1.0em;
  text-align: right;
  font-size: 1.2em;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 0.05em;
}
/* ----------------- banner for this copy */
#here-i-am {
  clear: both;
  position: relative;
  width: 100%;
  top: -0.5em;
  margin: 0;  
  border: none;
  padding: 0;
  text-align: center;
}
.alpha {
  color: blue;
  background-color: #c8c8ff;
}
.numerical {
  color: #ffc000;
  background-color: #fffaaa;
}
.customer {
  color: red;
  background-color: #ffc8c8;
}
.packing {
  color: black;
  background-color: #c8c8c8;
}
#document-title {
  font-size: 1.1em;
  font-weight: 800;
}
#copy-name {
  font-size: 1.1em;
  font-style: italic;
}
/* ----------------- billing and shipping */
#bill-to-block {
  position: relative;
  top: 1mm;
  clear: both;
  float: left;
  width: 90mm; height: 25mm;
  border: 1px solid black;
}
#bill-to-legend {
  width: 100%; height: 7mm;
  margin: inherit;
/*  border-bottom: 1px solid black; */
  padding-left: 5px;
}
#bill-to {
  width: 100%;
  padding: 5px;
  text-align: left;
}
#ship-to-block {
  position: relative;
  top: 1mm;
  float: right;
  width: 98mm; height: 25mm;
  border: 1px solid black;
}
#ship-to-legend {
  width: 100%; height: 7mm;
/*  border-bottom: 1px solid black; */
  padding: 5px;
}
#ship-to {
  width: 100%;
  padding: 5px;
  text-align: left;
}
/* ----------------- invoice information */
#upper {
  clear: both;
  position: relative;
  top: 5mm;
  width: 100%;
  margin: 0;
  border : 1px solid black;
  padding: 0;
}
.upper-left {
  float: left;
  width: 30%;
  margin: 0;
  border : 1px solid black;
  padding: 0;
  line-height: 1.0em;
}
.upper-center {
  float: left;
  width: 30%;
  margin: 0;
  border : 1px solid black;
  padding: 0;
  line-height: 1.0em;
}
.upper-right {
  float: left;
  width: 30%;
  margin: 0;
  border : 1px solid black;
  line-height: 1.0em;
  padding: 0;
}
/* ----------------- line items schedule */
#middle {
  clear: both;
  position: relative;
  top: 5mm; width: 100%; height: 140mm;
  margin-top: 0.3em;
  border: 1px solid black;
  padding: 0;
}
/* ----------------- payment, signature, money */
#lower {
  clear: both;
  position: relative;
  top: 5mm;
  width: 100%;
  margin: 0;
  border: 0;
}
#lower-left {
  float: left;
  width: 35mm;
  background-color: #c8c8c8;
  margin-top: 0.3em;
  border: 1px solid black;
  padding: 0.5em 0.8em 0.8em 0.8em;
  line-height: 1.2em;
}
#lower-center {
  float: left;
  width: 50%;
  margin: 0;
  border: 0;
  padding-left: 1.0em;
}
.sign-off {
  margin: 0;
  border: none;
  padding: 5px;
  text-align: center;
}
#lower-money {
  float: right;
  left: 0;
  width: 50mm;
  margin-top: 0.3em;
  margin-right: -0.3em;
  border: 0;
  padding: 0;
}
.money-left {
  padding-left: 0.5em;
  text-align: left;
}
.money-right {
  padding-right: 0.5em;
  text-align: right;
}
#balance_due {
  font-size: 1.2em;
  font-weight: 800;
}
/* ----------------- closing comment */
#bye-bye {
  clear: both;
  position: relative;
  top: 1mm;
  width: 100%;
  margin: 0;
  border: none;
  padding: 5px;
  color: red;
  text-align: center;
}
#appreciation {
  font-size: 1.1em;
}
#thank-you {
  font-size: 1.1em;
  font-style: italic;
}
